html, body {
    margin: 0;
    padding: 0;
}


.right {
  height:100vh;
  width: 33%;
  background: #c5e787;
  float: left;
  position: relative;
}

.right-block{
  width: 100%;
  height:29vh;
  background: red;
  position: absolute;
  bottom: 0;
}

.middle {
  height: 100vh;
  width: 33%;
  background: #90eee2;
  float: left;

}

.left {
  height: 100vh;
  width: 33%;
  background: #4a90ed;
  float: left;
}
